# I left the other gitignore in place, just cleaning i bit here.

# this is to ignore all the node_module folders i could find.
# this one is the backend node modules
./server/node_modules
# while im here im gonna ignore the .env / that way we dont accidentaly upload passwords
./server/.env

# this one is the front end node modules
./spotify-clone/node_modules