@import url('http://fonts.cdnfonts.com/css/gotham');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gotham', sans-serif;
    font-family: 'Gotham Black', sans-serif;
    font-family: 'Gotham Light', sans-serif;
    font-family: 'Gotham Thin', sans-serif;
    font-family: 'Gotham XLight', sans-serif;
    font-family: 'Gotham Book', sans-serif;
    font-family: 'Gotham Ultra', sans-serif;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/*

WEBPLAYER NAVIGATION BAR

*/

#nav__webplayer {
    height: 100vh;
    width: 17%;
    background-color: rgb(10, 10, 10);
    position: absolute;
}

.nav__container {
    margin: 0 auto;
    width: 100%;
    padding-left: 25px;
}

.nav__heading {
    display: flex;
    padding-top: 25px;
}

.nav__img {
    color: #ffffff;
    background-color: rgb(10, 10, 10);
    padding-right: 5px;
    font-size: 40px;
}

.nav__title {
    padding-top: 7px;
    font-size: 24px;
    color: #ffffff;
    font-family: 'Gotham Thin 400', sans-serif;
}

.nav__tabs {
    margin-top: 25px;
    cursor: pointer;
}

.nav__tab:hover {
    background-color: #242526;
    padding-left: 30px;
}

.nav__tab {
    display: flex;
    margin-top: 20px;
    margin-right: 25px;
}

.nav__tab:active {
    color: #242526;
}

.tab__container {
    display: flex;
    width: 100%;
    margin: 0 auto;
    align-items: center;
}

.tab__img {
    color: grey;
    margin-right: 15px;
    font-size: 25px;
    max-width: 200px;
}


.tab__title {
    color: grey;
    font-size: 15px;
    font-family: 'Gotham Light', sans-serif;
    padding-top: 5px;
}

.tab__title:active {
    color: #242526;
}

/*

SEARCH PAGE

*/

#top__bar {
    height: 10vh;
    position: sticky;
    margin-left: 17%;
    top: 0;
    background-color: #121212;
}

.top__container {
    margin: 0 50px;
    max-width: 1800px;
    display: flex;
    justify-content: space-between;
}

.search__container {
    background-color: #ffffff;
    max-width: 300px;
    justify-content: center;
    width: 100%;
    margin-top: 17px;
    padding: 10px 0;
    border-radius: 20px;
}

.img__search {
    margin-left: 10px;
    background-color: #ffffff;
    color: black;
}

.search__input {
    border: none;
    font-size: 12px;
    max-width: 200px;
    width: 100%;
    margin-left: 10px;
    font-family: 'Gotham Light', sans-serif;
}

.account__container {
    background-color: #ffffff;
    max-width: 200px;
    width: 100%;
    margin-top: 17px;
    border-radius: 20px;
    position: relative;
}

.account__info {
    font-size: 15px;
    margin-top: 10.5px;
    position: absolute;
    width: 100%;
    text-align: center;
}