* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 20vh;
}

.nav__container {
    margin: 20px 0;
    padding-bottom: 20px;
    display: flex;
    max-width: 2400px;
    width: 100%;
    text-align: center;
    justify-content: center;
    border-bottom: 1px solid rgb(195, 195, 195);
}

.div__container {
    margin: 0 auto;
    text-align: center;
    max-width: 800px;
    width: 100%;
}

.nav__icon {
    height: 60px;
}

.nav__title {
    margin-left: 10px;
    font-size: 60px;
    font-weight: 600px;
    font-family: Arial, Helvetica, sans-serif;
}

#nav__creation{
    height: 20vh;
    width: 100%;
    margin: 0 auto;
}

.pill__button {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    color: grey;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 1.5px;
    display: inline-block;
    margin: 0 auto 15px;
    cursor: pointer;
    border-radius: 30px;
    width: 50%;
    height:6vh;
  }

.pill__button:hover{
    border-color: black;
}  

  .login__text {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 13px;
    padding-bottom: 10px;
  }

  .or__container {
    display: flex;
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
    justify-content: center;
    text-align: center;
  }

  .left {
    border-top: 1px solid grey;
    margin-top: 5px;
    margin-right: 20px;
    width: 100%;
  }

  .right {
    border-top: 1px solid grey;
    margin-top: 5px;
    margin-left: 20px;
    width: 100%;
  }

  .OR {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 13px;
  }

  .form__container {
    max-width: 400px;
    max-height: 700px;
    margin: 0 auto;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 13px;
  }

  .form__style{
    justify-items: flex-start;
  }